.banner-container{
    background-image: url('../../imgs/CONT456.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
    /* padding: 100px 0; */
}


.heading{
    font-size: 70px;
    font-weight: 700;
}
.slogan{
    font-size: 15px;
}
.subHead{
    position: relative;
    margin-top: 150px;
}
.subHeading{
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    position: inherit;
    z-index: 999;
    top: 8px;
    right: 20px;
}
.textBg{
    position: absolute;
    top: 0;
}

.chefImg{
    /* margin-top: -100px; */
}